header {background-color: #4682B4;
        color: white;
        text-align: center;
        display: block;
        width: 100vw;}

.viewPortGrid1{display: grid;
               grid-template-columns: 1fr;
               column-width: 100vw;
                width: 100vw;}

header h1{font-size: 2.5em;}
header h2{font-size: 2em;
   width: 100vw;}

main div {background-color: lightgray;
          margin-bottom: 4em;
          margin-top: -0em;
          padding-top: 0em;
          width: 100vw;
        border-radius: 4em;}

main div h2 {background-color: #4682B4;
             color: white;
             border-top-right-radius: 1em;
             border-top-left-radius: 1em;
             padding: 1em;
             margin-bottom: 0em;
             font-size: 2em;
             width: auto;}


h3 {padding-left: 2em;
    font-size: 1.5em;
    width: auto;}

img, p {padding: 2em;
        font-size: 1.5em;}

img {width: 50%;}

main{width: 100vw;}


@media (min-width: 640px) {
        .viewPortGrid1{display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;}

        main div {width: 42.5vw;
                height: 90%;
        margin-left: 2.5vw;}

        img {width: 30%;
        float: left;}

        #div3 {grid-row:2;
                grid-column: 1/3;
                width: 95vw;
                margin-right: 2.5vw;}
        #div3 img {width: 15%;
                float: right;}
        #div3 p {font-size: 2em;}
      }

      @media (min-width: 1024px) {
        .viewPortGrid1{display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                margin-bottom: 2em;}
        main div {margin-bottom: 1em;
                float: none;
                margin-bottom: 4em;
                margin-top: -0em;
                padding-top: 0em;
                width: 30vw;
                border-radius: 4em;
        height: 100%;}
        #div3 {margin-bottom: 4em;
                margin-top: -0em;
                padding-top: 0em;
                width: 30vw;
                border-radius: 4em;
                grid-column: 3/4;
                grid-row: 1;
                float:left;}
        #div3 p {padding: 1em;
                font-size: 1.5em;}
        #div3 img {width: 60%;
        float: none;}

        p {padding: 1em;}

        img {width: 60%;
        float: none;}

      }