h1, h2, h3, h4, nav {font-family: 'Lato', sans-serif;}

hr {margin: 5px 15px;}

p {color: darkslategray;}

header div {display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 25vh;

  justify-content: space-around;
}

#banner {display: block;
         height: 40px;
         padding: 5px;
         font-size: large;
         color: darkslategray;
         background-color: white;
         margin: 5px 10px;
         text-align: center;}

header {border: 5px solid black;
  background-color: darkgray;}

header #socialtop {grid-row: 2;
  grid-column: 2/3;
text-align: center;
font-size: medium;
margin-bottom: 5px;
background-color: darkslategray;
height: 10vh;
display: flex;
justify-content: space-between;}

#socialtop img {width: 80%;
height: 80%;
margin: 0 0;
margin-top: 8px;}

.btn {grid-column: 3/4;
width: 25vw;
margin: 5px auto;}
header h1 {grid-column: 2/3;
text-align: center;
margin: auto auto;
font-size: x-large;
color: white;
font-weight:bolder;
}

.logo {grid-column: 1/2;
width: 20vw;
margin: auto auto;}

.nav {list-style-type: none;
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 6em;
  right : 5%;
  display: none;
  width: inherit;
  border: 5px solid black;}
.nav li {text-align: center;
font-size: large;}
li a {color: black;}
li a:hover {color: skyblue;}

.newstyle{display: block;
background-color: white;
width: 16.5vw;}


.logo {width: 25vw;
       height: 20vh;}

footer {text-align: center;
background-color: darkgray;
margin-top: 5px;
border: 5px solid black;}

main {display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    margin-top: 5px;}

#btn {width: 50px;}

main div {
  background-color: lightgray;
  color: black;
  text-align: center;
  margin: 5px 5px;
  height: 40vh;
  border: 3px solid black;
}

#hero {grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;}
#hero h1 {grid-column: 1/3;
          grid-row: 1/2;}
#hero button {grid-column: 3/4;
              grid-row: 3/4;
              margin: 10px 10px;}
#heroimg {grid-column:1/4;
  grid-row: 1/4;
  width: 100%;
  height: 100%;}

#callToAction {display: none;}
#news {grid-column: 1;
grid-row: 4;}
#news h1 {color: darkslategrey;
  font-size: 2em;}
#news p {font-size: 1em;
margin: 0 20px;}

#events {grid-column: 1;
  grid-row: 2;}
#events h1 {color: darkslategray;
            font-size: 25px;}
#events h2 {font-size: 20px;}
#events p {font-size: 16px;}
#events div {
  border: 3px solid white;
  height: auto}

#weather {grid-column: 1;
  grid-row: 3;}
#weather h1 {color: darkslategray;}
#join {display: none;}
#join button {margin-top: 20%;
              width: 50%;
              height: 20%;}
#join p {font-size: 1.5em;
         margin-top: 20%;
         color: darkslategray;}
#spotlights {grid-column: 1;
  grid-row: 5/6;
  display: block;
  height: 88vh;}
.spotlightsection {background-color: white;
margin: 5px 5px;
margin-top: 12px;}
#spotlightsection3 {display: none;}

#date {font-size: 22px}



@media (min-width: 640px) {
#events h1 {color: darkslategray; margin-top: 30px;}
#events p {font-size: 20px;}
#events p a {color: darkslategray;}
#events div {margin: 20px 10px;
  margin-top: 50px;
  border: 3px solid white;}
  main {display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr}
  header div {display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          height: 25vh;
          background-color: darkgray;
          margin: 10px 0px;
          margin-top: 0%;}
  header h2 {grid-row: 2;
    grid-column: 2/4;
  text-align: center;
  margin-bottom: 5px;}
  
  .btn {grid-column: 4/5;
  margin: 5px 5px;
  width: 25vw;}
  header h1 {grid-column: 2/4;
  text-align: center;}
  .logo {grid-column: 1/2;
        margin: auto auto;;
        width: 20vw;
        max-width: 20vw;}
  
  #hero {grid-row: 1/2;
  grid-column: 1/5;}
  #callToAction {display: none;}
  #news {grid-row: 2/3;
  grid-column: 1/5;}
  #events {grid-row: 5/6;
  grid-column: 1/4;}
  #weather {grid-row: 5/6;
  grid-column: 4/5;}
  #join {grid-row:4/5;
  grid-column: 1/5;
  display: block}
  #spotlights {grid-row: 3/4;
  grid-column: 1/5;
  display: flex;
  }

  main div {height: auto;
    background-color: lightgray;
    color: black;
    text-align: center;}
  
  main {height: auto}
  
  #spotlights {height: 460px;}
    .spotlightsection {background-color: white;
      margin: 5px 5px;
      width: 50vw;
      height: 430px;}
  #spotlightsection3 {display: none;}

  #socialtop img {width: 80%;
    height: 80%;
    margin: 0 0;
    margin-top: 8px;}

    header #socialtop {grid-row: 2;
      grid-column: 2/3;
    text-align: center;
    font-size: medium;
    margin-bottom: 5px;
    background-color: darkslategray;
    height: 10vh;
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;}

    #join button {margin-top: 5%;
      width: 50%;
      height: 20%;}
    #join p {font-size: 1.5em;
    margin-top: 10%;}

    #news h1 {color: darkslategrey;
      font-size: 3em;}
    #news p {font-size: 1.5em;
    margin: 0 20px;}

}

@media (min-width: 1024px) {
  main {display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      height: 200vh;}
  
  #banner {display: block;
    height: 30px;
    padding: 5px;
    font-size: large;
    color: darkslategray;
    background-color: white;
    margin: 5px 10px;
    text-align: center;}

  #hero {grid-row: 1/3;
  grid-column: 2/4;}
  #news {grid-row: 3/4;
  grid-column: 2/4;}
  #events {grid-row: 1/2;
  grid-column: 1/2;}
  #weather {grid-row: 2/3;
  grid-column: 1/2;}
  #join {grid-row: 3/4;
  grid-column: 1/2;}
  #join button {margin-top: 20%;
    width: 50%;
    height: 20%;}
#join p {font-size: 1.5em;
margin-top: 20%;}
  #spotlights {grid-row: 1/4;
  grid-column: 4/5;
  display: block;
  height: auto;
  width: auto;}
  #spotlightsection3 {display: block;
    background-color: white;
    margin: 10px 10px;
  height: 32%;
  width: 25vw;}
  .spotlightsection {background-color: white;
    margin: 10px 10px;
  width: 25vw;
  height: 32%;}




header div {display:flex;
  justify-content: flex-start;
}

header h1 {font-size: 2em;
margin: auto 0;
width: 30vw;}
header h2 {font-size: 1.5em;}

.logo {width: 10vw;
margin: auto 0;}
.btn {display: none;}
.nav {display: flex;
  justify-content: space-around;
margin: 0 0;
top: 50px;
right: 40px;
width: 50vw;}
.nav li {font-size: x-large;}
#date {display: block;
width: 100%;
background-color: darkslategray;}

li a {color: white;
font-size: xx-large;}


}

@media (max-width:640px){
  .spotlightsection {background-color: white;
    margin: 5px 5px;
    margin-top: 12px;}
  .spotlightsection h1{font-size: 20px;}
  .spotlightsection h3{font-size: 16px;}
  .spotlightsection img{width: 25%;
    height: 25%};

}
