h1, h2, h3, h4, nav {font-family: 'Lato', sans-serif;}

header section {display: flex;}

hr {margin: 5px 15px;}

p {color: darkslategray;}
header{height: auto;}

header div {display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;

  justify-content: space-around;
}

picture{grid-row: 1/4;
grid-column: 1/4;}

#banner {display: block;
         height: 40px;
         padding: 5px;
         font-size: large;
         color: darkslategray;
         background-color: white;
         margin: 5px 10px;
         text-align: center;
         font-size: medium;}

header {border: 5px solid black;
  background-color: darkgray;}

header #socialtop {grid-row: 2;
  grid-column: 2/3;
text-align: center;
font-size: medium;
margin-bottom: 5px;
background-color: darkslategray;
height: 60px;
display: flex;
justify-content: space-between;
margin-top: 10px;}

#socialtop img {width: 90%;
height: 70%;
margin: 10px auto;}

.btn {grid-column: 3/4;
width: 80px;
margin: 5px auto;}
header h1 {grid-column: 2/3;
text-align: center;
margin: auto auto;
font-size: x-large;
color: white;
font-weight:bolder;
}

.logo {grid-column: 1/2;
width: 20vw;
margin: auto auto;}

.nav {list-style-type: none;
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 6em;
  right : 5%;
  display: none;
  width: inherit;
  border: 5px solid black;}
.nav li {text-align: center;
font-size: large;}
li a {color: black;}
li a:hover {color: skyblue;}

.newstyle{display: block;
background-color: white;
width: 16.5vw;}


.logo {width: 80px;
       height: 80px;}

footer {text-align: center;
background-color: darkgray;
margin-top: 5px;
border: 5px solid black;}

main {display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    margin-top: 5px;}

#btn {width: 50px;}

main div {
  background-color: lightgray;
  color: black;
  text-align: center;
  margin: 5px 5px;
  height: auto;
  border: 3px solid black;
}

#hero {grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;}
#hero h1 {grid-column: 1/3;
          grid-row: 1/2;}
#hero button {grid-column: 3/4;
              grid-row: 3/4;
              margin: 10px 10px;}
.heroimg {grid-column:1/4;
  grid-row: 1/4;
  width: 100%;
  height: 100%;}

#callToAction {display: none;}
#news {grid-column: 1;
grid-row: 4;}
#news h1 {color: darkslategrey;
  font-size: 2em;
  margin-top: 60px;}
#news p {font-size: 1em;
margin: 0 20px;}

#events {grid-column: 1;
  grid-row: 2;}
#events h1 {color: darkslategray;
            font-size: 25px;
            margin-top: 60px;}
#events h2 {font-size: 20px;
            padding:20px;}
#events p {font-size: 16px;
            padding-top: 20px;}
#events div {
  border: 3px solid white;
  height: auto}

#weather {grid-column: 1;
  grid-row: 3;}
#weather h1 {color: darkslategray;}
#join {display: none;}
#join button {margin-top: 20%;
              width: 50%;
              height: 20%;}
#join p {font-size: 1.5em;
         margin-top: 20%;
         color: darkslategray;}
#spotlights {grid-column: 1;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;}
.spotlightsection {background-color: white;
margin: 5px 5px;
margin-top: 12px;}
#spotlightsection3 {display: none;}

#date {font-size: 13px}

#photogrid {display: grid;
  grid-column: 1/4;
  grid-row: 1/6;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  width: 99.5%;
  margin: auto auto;}
  
  
  #img1{grid-column: 1/2;
  grid-row: 1/2;}
  #img2{grid-column: 1/2;
  grid-row: 2/3;}
  #img3{grid-column: 1/2;
    grid-row: 3/4;}
  #img4{grid-column: 1/2;
    grid-row: 4/5;}
  #img5{grid-column: 1/2;
    grid-row: 5/6;}
  #img6{grid-column: 1/2;
    grid-row: 6/7;}
  #img7{grid-column: 1/2;
    grid-row: 7/8;}
  #img8{grid-column: 1/2;
    grid-row: 8/9;}
  #img9{grid-column: 1/2;
    grid-row: 9/10;}

  #photogrid picture img {height: 75%;
    width: 90%;
    margin-top: 10px;
    }
    
  #photogrid picture img:hover {box-shadow: 0 0 50px #333;}

  #LastVisited {font-size: large;
  margin: auto auto;}
    

  form {margin: 20 20;
    padding: 20px 20px;
    color: darkslategray;
  }
  form li {color: black;}
  form label {font-size: 16px;}

 

  input[type=text],input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #f8f8f8;
  }

  .radio {
    display: inline-block;
    text-align: justify;
    padding-top: 2px;
    padding-left: -10px;
    margin: auto 0;
    margin-left: 10px;
  }
  #radiospan {display: flex;
  justify-content: space-evenly;
  margin-top: 30px;}
  #radiospan label {font-size: 26px;}
  #radiospan div {width: 25%;}


  #membershipDescriptions {display: flex;}
  #membershipDescriptions ul {width: 25%;
  }

  #textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

#thankyou {margin: auto auto;
grid-row: 1/6;
grid-column: 1/6;
margin-top: 40vh;}

#directory {display: block;
height: auto;}
#directory h1 {text-align: center;
margin-top: 40px;}
#chooseSection {display: flex;
justify-content: space-around;}
#chooseSection button {width: 20%;
height: 50px;
margin: 20px 20px;
font-size: large;}
#dirTable {display: none;
padding: 20px;}
#dirCards {display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;}
#dirCards section {
  border: 1px solid darkslategray;
  background-color: darkslategray;
  padding: 30px;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 20px;
  box-shadow: 5px 10px 8px 5px #888888;
}
#dirCards section img {width: 70%;
height: 40%;}
#dirCards p {color: white;}
#dirTable td {display: block;
text-align: center;}
#dirTable tr {padding: 30px;
height: 80px;
}
tr:nth-child(odd) {
  background-color: lightslategray;
  color: white
}
#dirTable table {height: auto;}




@media (min-width: 640px) {
#events h1 {color: darkslategray; margin-top: 30px;}
#events p {font-size: 20px;}
#events p a {color: darkslategray;}
#events div {margin: 20px 10px;
  margin-top: 50px;
  border: 3px solid white;}
  main {display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr}
  header div {grid-row: 1/2;
          grid-column: 1/3;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          height: 80px;
          background-color: darkgray;
          margin: 10px 0px;
          margin-top: 0%;}
  header h2 {grid-row: 2;
    grid-column: 2/4;
  text-align: center;
  margin-bottom: 5px;}

  header{display: grid;
  grid-template-rows: 2fr 1fr;
grid-template-columns: 1fr;}
  
  .btn {grid-column: 4/5;
  margin: auto auto;
  width: 150px;
height: 130px;
margin-top: 10px;
margin-right: 20px;
}
  header h1 {grid-column: 2/4;
  text-align: center;
  font-size: 2em;}
  .logo {grid-column: 1/2;
        margin: auto auto;;
        width: 120px;
        height: 120px;}
  
  #hero {grid-row: 1/2;
  grid-column: 1/5;}
  #callToAction {display: none;}
  #news {grid-row: 2/3;
  grid-column: 1/5;}
  #events {grid-row: 5/6;
  grid-column: 1/4;}
  #weather {grid-row: 5/6;
  grid-column: 4/5;}
  #join {grid-row:4/5;
  grid-column: 1/5;
  display: block}
  #spotlights {grid-row: 3/4;
  grid-column: 1/5;
  display: flex;
  }

  main div {height: auto;
    background-color: lightgray;
    color: black;
    text-align: center;}
  
  main {height: auto}
  
  #spotlights {height: 460px;
              flex-direction: row;}
    .spotlightsection {background-color: white;
      margin: 5px 5px;
      width: 50vw;
      height: 430px;}
  #spotlightsection3 {display: none;}

  #socialtop img {width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 8px;}

    header #socialtop {grid-row: 2;
      grid-column: 1/3;
      margin-top: 10px;
    text-align: center;
    font-size: medium;
    margin-bottom: 5px;
    background-color: darkslategray;
    height: 60px;
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;}

    #join button {margin-top: 5%;
      width: 50%;
      height: 20%;}
    #join p {font-size: 3em;
    margin-top: 10%;}
    #news h1 {color: darkslategrey;
      font-size: 4em;}
    #news p {font-size: 1.5em;
    margin: 0 20px;}

    #photogrid {display: grid;
      grid-column: 1/5;
      grid-row: 1/6;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      height: auto;
      width: 99.5%;
      margin: auto auto;}
      
      
      #img1{grid-column: 1/2;
      grid-row: 1/2;}
      #img2{grid-column: 1/2;
      grid-row: 2/3;}
      #img3{grid-column: 1/2;
        grid-row: 3/4;}
      #img4{grid-column: 1/2;
        grid-row: 4/5;}
      #img5{grid-column: 1/2;
        grid-row: 5/6;}
      #img6{grid-column: 2/3;
        grid-row: 1/2;}
      #img7{grid-column: 2/3;
        grid-row: 2/3;}
      #img8{grid-column: 2/3;
        grid-row: 3/4;}
      #img9{grid-column: 2/3;
        grid-row: 4/5;}
    
      #photogrid picture img {height: 75%;
        width: 90%;
        margin-top: 10px;
        }
        
      #photogrid picture img:hover {box-shadow: 0 0 50px #333;}

      #LastVisited {font-size:xx-large;
        margin: auto auto;
      text-align: center;}
      #dirTable td {display: table-cell;
      width: 18%;}
}

@media (min-width: 1024px) {
  header #socialtop {margin-top: 0px;}
  main {display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      height: auto;}
  
  #banner {display: block;
    height: 40px;
    padding: 5px;
    font-size: large;
    color: darkslategray;
    background-color: white;
    margin: 5px 10px;
    text-align: center;}

  #hero {grid-row: 1/3;
  grid-column: 2/4;}
  #news {grid-row: 3/4;
  grid-column: 2/4;}
  #events {grid-row: 1/2;
  grid-column: 1/2;}
  #weather {grid-row: 2/3;
  grid-column: 1/2;}
  #join {grid-row: 3/4;
  grid-column: 1/2;}
  #join button {margin-top: 20%;
    width: 50%;
    height: 20%;}
#join p {font-size: 1.5em;
margin-top: 20%;}
  #spotlights {grid-row: 1/4;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: auto;}
  #spotlightsection3 {display: block;
    background-color: white;
    margin: 10px 10px;
  height: auto;
  width: 25vw;}
  #spotlightsection3 h1 {font-size: 40px;}
  #spotlightsection3 p {font-size: 15px;}
  .spotlightsection {background-color: white;
    margin: 10px 10px;
  width: 25vw;
  height: auto;}
  .spotlightsection h1 {font-size: 40px;}
  .spotlightsection p {font-size: 15px;}




header div {display:grid;
  grid-template-columns: 1fr 4fr 1fr 5fr 1fr;
  height: 100px;
}

header h1 {font-size: 2em;
margin: auto 0;
width: 30vw;}
header h2 {font-size: 1.5em;}

.logo {width: 80%;
  height: 80%;
margin: auto auto;
grid-column: 1;
grid-row: 1;}
header h1 {grid-column: 2/3;
grid-row: 1;}
.btn {display: none;}
.nav {grid-column:3/6;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  top:auto;
  right: auto;
  margin-right: 10px;
  margin-top: 10px;
}
.nav li {font-size: x-large;}
#date {display: block;
width: 100%;
background-color: darkslategray;
font-size: 22px;}

li a {color: white;
font-size: xx-large;}

footer {height: auto;}
footer img {margin-top: 10px;}

#photogrid {display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
height: 1000px;
grid-column: 1/4;
grid-row: 1/4;
width: 99.5%;
margin: auto auto;}


#img1{grid-column: 1/2;
grid-row: 1/2;}
#img2{grid-column: 2/3;
grid-row: 1/2;}
#img3{grid-column: 3/4;
  grid-row: 1/2;}
#img4{grid-column: 1/2;
  grid-row: 2/3;}
#img5{grid-column: 2/3;
  grid-row: 2/3;}
#img6{grid-column: 3/4;
  grid-row: 2/3;}
#img7{grid-column: 1/2;
  grid-row: 3/4;}
#img8{grid-column: 2/3;
  grid-row: 3/4;}
#img9{grid-column: 3/4;
  grid-row: 3/4;}

 #photogrid img {margin: 5px 5px;} 

}

@media (max-width:640px){
  .spotlightsection {background-color: white;
    margin: 5px 5px;
    margin-top: 12px;}
  .spotlightsection h1{font-size: 20px;}
  .spotlightsection h3{font-size: 16px;}
  .spotlightsection img{width: 25%;
    height: 25%};

    .radio {
      display: flex;
      padding-top: 2px;
      padding-left: -10px;
      margin: 0 0;
      margin-left: 0px;
    }
    #radiospan {display: block;
    height: 600px;
    margin: 0 0;
  margin-bottom: 15px;
  margin-top: 20px;}

    #radiospan label {font-size: 20px;}
    #radiospan div {width: 25%;
    height: 150px;}
  
  
    #membershipDescriptions {display: flex;
      flex-direction: column;
      justify-content: space-around;
    height: 600px;
    margin-top: 40px;}

    #membershipDescriptions ul {height: 150px;
    width: 85%;}
    #radioSmall {display: flex;}
}

@media (max-width:1024px){
  #radiospan div {width: 20%;}
  #radiospan label {font-size: 24px;}
}